.container-fluid
  .row
    .col-md-6.text-center{style: "margin-left:-258px;"}
      .sticky-wrap
        %table.sticky-enabled
          %tr
            %th{colspan: '5'}
              Active Employees
          %tr
            %th Name
            %th Lastname
            %th Email
            %th Status
            %th Edit
          = render @employees.active
    .col-md-6.text-center
      .sticky-wrap
        %table.sticky-enabled
          %tr
            %th{colspan: '5'}
              Inactive Employees
          %tr
            %th Name
            %th Lastname
            %th Email
            %th Status
            %th Edit
          = render @employees.inactive
