.in:focus, .in:active:focus, .in.active:focus {
    outline: 0 none;
    box-shadow: 0 3px 0 0 red;
}

.ac:focus, .ac:active:focus, .ac.active:focus {
    outline: 0 none;
    box-shadow: 0 3px 0 0 blue;
}

#height-cell {
  height: 30%;
  vertical-align: middle;
}

#centrado{
  font-size: 20px;
  margin: auto;
  height: 20%;
  vertical-align: middle;
}

  #buttonss{
    margin-top: 15px;
    font-size: 25px;
      color: white;
  }

#connected_user{
  color: white;
  font-size: 15px;
  margin-top: 15px;
  left: 679px !important;
}

#text_employee{
 margin-top: 15px;
 color: white;
}

#buttons{
  font-size: 25px;
  color: white;
}

#header{
  height: 80px;
}

#background_employees{
background-image: url(http://t2.gstatic.com/images?q=tbn:ANd9GcRIGVPg82SCMRjunbSFJwWPES64KWLWVej5Nyq4hxJqUGuZiZuVPA);
background-size: cover;
height: auto;
margin-top: -20px;
}

#title_employees{
  margin-left: -400px;
  color:black;
}

 .text-right{
   margin-top: 25px;
   margin-left: 800px;
   font-size: 20px;
 }

 .active{
 background-color: black ;
 height: 79px ;
}

body{
  font-family: Raleway;
}


th{
  text-align: center;
}

.field{
  margin-top: 21px;
}

.form-control{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 210px;
}

input{
  border: 0px;
  background-color: white;
  color: black;
  text-align: center;
  width:200px;
}

.status-form{
  width:20px;
}

#user_email{
  font-size: 20px;
  height: 40px;
  text-align: center;
  width: 400px;
}

#user_password{
  font-size: 20px;
  height: 40px;
  text-align: center;
  width: 400px;
}
