.field{ margin-top: 21px; }

.form-control{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 210px;
}

input{
  border: 0px;
  background-color: white;
  border: 0px;
  color: black;
  text-align: center;
  width:200px;
}

.status-form{ width:20px; }

#user_email{
  font-size: 20px;
  height: 40px;
  text-align: center;
  width: 400px;
}

#user_password{
  font-size: 20px;
  height: 40px;
  text-align: center;
  width: 400px;
}
