td {
 a {
  color: black;
  &:hover{ text-decoration: none }
 }
}

.in:focus, .in:active:focus, .in.active:focus {
  box-shadow: 0 3px 0 0 red;
  outline: 0 none;
}

.ac:focus, .ac:active:focus, .ac.active:focus {
  box-shadow: 0 3px 0 0 blue;
  outline: 0 none;
}

.title-update-user{ text-align: center; }

#height-cell {
  height: 30%;
  vertical-align: middle;
}

#center{
  font-size: 20px;
  height: 20%;
  margin: auto;
  vertical-align: middle;
}

#connected_user{
  color: white;
  font-size: 15px;
  left: 679px !important;
  margin-top: 15px;
}

#buttons{
  color: white;
  font-size: 25px;
  .a-active { color: #50a3a2}
}

.Update-title{
  display: block;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 0px !important;
  margin-top: 40px;
  margin: 0 auto;
}

.form-update-employee__label-decoration{
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.form-update-employee__text-field-decoration{
  border-radius: 6px;
  border: none;
  height: 30px;
  text-align: center;
  width: 210px;
}

.form-update-employee__submit-btn{
  margin-top: 15px;
  margin-bottom: 15px;
}

.update-border-decoration{
  background-color: lightslategray;
  border-radius: 4px;
  margin: 0 auto;
  width: 600px;
}

.form-update-employee{ text-align: center; }

.user-img{
  border-radius: 150px;
  border: 15px solid gray;
  display: block;
  margin-top: 20px;
  margin: 0 auto;
}

#background_employees{
  height: auto;
  margin-top: -20px;
}

.title_employees{ font-size: 40px; }

th{ text-align: center; }
