.login-btn {
  border: 1px solid;
  color: white;
  cursor: pointer;
  padding: 10px;
  position: relative;
  top: 20px;
  text-decoration: none;
  z-index: 999999;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  &:hover {
    background: #f5f7f9;
    color: #A9BBCB;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
  }
  &:focus {
    color: white;
    padding: 10px;
    text-decoration: none;
  }
  &:visted {
    color: white;
    padding: 10px;
    text-decoration: none;
  }
}
