a{
  text-decoration: none !important;
  color: lavender;
}

a:hover{
  color:lavender;
}

#border{
  top:150px;
  border-radius: 4px;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  font-family: Raleway;
  color: white;
  background-color: #303E4D;
}

#centerform{
  margin-top: 7%;
}

.col-lg-offset-2 {
  margin-left: 17.66666667%;
}

#logo{
  height: 80px;
}

#login{
  margin-top: 60px;
  background-color:lightslategray;
  color:black;
  border-radius: 4px;
  width:300px;
  height:100px;
  text-align: center;
}

#whitefix{
  margin-top: 28px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;

}
